@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{

}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

/* --------nav--------- */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 240px;
}
.nav-title{
    display: flex;
    align-items: center;
}
.nav-title-text{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
.text-primary{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item ul{
    display: flex;
}
.nav-item ul li{
    margin-left: 2rem;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.nav-item ul li a{
    color: #3C354F;
}
.nav-btn{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;
}
/* --------banner--------- */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 240px;
}
.banner-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-heading{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-description{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}
.banner-description .fa-solid{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 0;
}
.btn-secondary{
    background: #4EC5F7;
}
.banner-imges{
    width: 100%;
}
/* ------------online-gamer-section--------- */
section{
    padding: 10px 240px;
}
.online-title-text{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.title-text-primary{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-description-text{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.online-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}
.online-card{
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}
/* ------------play container----------- */
.play-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.play-title{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}
.play-description{
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
}
.r-55{
    width: 100%;
    margin-left: 100px;
}
.r-66{
    width: 50%;
    position: relative;
    bottom: 200px;
}
/* --------user gamer--------- */
.user{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 20px;
}
.user-card{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(236, 232, 232, 0.712) ;
    margin-right: 16px;
    border-radius: 50px;
}
.user-card:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #FF42A5;
}
.user-img{
    width: 60px;
    height: 60px;
}
.user-text{
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 600;
}
/* --------responsive for mobile--------- */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        padding: 10px;
    }
    .nav-item ul{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .nav-item ul li{
        margin-top: 1rem;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 30px;
    }
    .banner-img{
        margin: 15px;
    }
    section{
        padding: 10px;
        margin: 10px;
    }
    .online-card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .online-card img{
        width: 100%;
    }
    /* play */
    .play-container{
        flex-direction: column;
    }
    .r-55{
        width: 70%;
        margin-left: 100px;
    }
    .r-66{
        width: 30%;
        position: relative;
        bottom: 150px;
    }
    .play-title, .play-description{
        text-align: center;
    }
    .user{
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
}
/* --------responsive for tablet--------- */
@media screen and (min-width: 579px) and (max-width: 990px) {
    nav{
        padding: 30px;
    }
    section{
        padding: 10px;
        margin: 10px;
    }
    .online-card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .online-card img{
        width: 100%;
    }
     /* play */
     .play-container{
        
    }
    .r-55{
        width: 100%;
        margin-left: 100px;
    }
    .r-66{
        width: 50%;
        position: relative;
        bottom: 200px;
    }
    .play-title, .play-description{
        text-align: center;
    }
    .user{
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}